<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>三ノ輪</key>
	<string>Minowa</string>
	<key>三越前</key>
	<string>Mitsukoshimae</string>
	<key>上野</key>
	<string>Ueno</string>
	<key>上野広小路</key>
	<string>UenoHirokoji</string>
	<key>中目黒</key>
	<string>NakaMeguro</string>
	<key>中野</key>
	<string>Nakano</string>
	<key>中野坂上</key>
	<string>NakanoSakaue</string>
	<key>中野富士見町</key>
	<string>NakanoFujimicho</string>
	<key>中野新橋</key>
	<string>NakanoShimbashi</string>
	<key>乃木坂</key>
	<string>CNogizaka</string>
	<key>九段下</key>
	<string>Kudanshita</string>
	<key>二重橋前</key>
	<string>CNijubashimae</string>
	<key>京橋</key>
	<string>Kyobashi</string>
	<key>人形町</key>
	<string>Ningyocho</string>
	<key>代々木上原</key>
	<string>CYoyogiUehara</string>
	<key>代々木公園</key>
	<string>CYoyogiKoen</string>
	<key>仲御徒町</key>
	<string>NakaOkachimachi</string>
	<key>住吉</key>
	<string>Sumiyoshi</string>
	<key>入谷</key>
	<string>Iriya</string>
	<key>八丁堀</key>
	<string>Hatchobori</string>
	<key>六本木</key>
	<string>Roppongi</string>
	<key>六本木一丁目</key>
	<string>RoppongiItchome</string>
	<key>北千住</key>
	<string>KitaSenju</string>
	<key>北参道</key>
	<string>KitaSando</string>
	<key>北綾瀬</key>
	<string>CKitaAyase</string>
	<key>千川</key>
	<string>Senkawa</string>
	<key>千駄木</key>
	<string>CSendagi</string>
	<key>半蔵門</key>
	<string>Hanzomon</string>
	<key>南千住</key>
	<string>MinamiSenju</string>
	<key>南砂町</key>
	<string>MinamiSunamachi</string>
	<key>国会議事堂前</key>
	<string>CKokkaiGijidomae</string>
	<key>地下鉄成増</key>
	<string>ChikatetsuNarimasu</string>
	<key>地下鉄赤塚</key>
	<string>ChikatetsuAkatsuka</string>
	<key>外苑前</key>
	<string>Gaiemmae</string>
	<key>大手町</key>
	<string>Otemachi</string>
	<key>小伝馬町</key>
	<string>Kodemmacho</string>
	<key>小竹向原</key>
	<string>KotakeMukaihara</string>
	<key>平和台</key>
	<string>Heiwadai</string>
	<key>広尾</key>
	<string>HiroO</string>
	<key>後楽園</key>
	<string>Korakuen</string>
	<key>志茂</key>
	<string>Shimo</string>
	<key>恵比寿</key>
	<string>Ebisu</string>
	<key>押上〈スカイツリー前〉</key>
	<string>Oshiage</string>
	<key>新宿三丁目</key>
	<string>ShinjukuSanchome</string>
	<key>新富町</key>
	<string>Shintomicho</string>
	<key>新御茶ノ水</key>
	<string>CShinOchanomizu</string>
	<key>新木場</key>
	<string>ShinKiba</string>
	<key>新橋</key>
	<string>Shimbashi</string>
	<key>方南町</key>
	<string>Honancho</string>
	<key>日本橋</key>
	<string>Nihombashi</string>
	<key>日比谷</key>
	<string>Hibiya</string>
	<key>早稲田</key>
	<string>Waseda</string>
	<key>明治神宮前〈原宿〉</key>
	<string>CMeijiJingumae</string>
	<key>月島</key>
	<string>Tsukishima</string>
	<key>有楽町</key>
	<string>Yurakucho</string>
	<key>木場</key>
	<string>Kiba</string>
	<key>末広町</key>
	<string>Suehirocho</string>
	<key>本駒込</key>
	<string>HonKomagome</string>
	<key>東大前</key>
	<string>Todaimae</string>
	<key>東新宿</key>
	<string>HigashiShinjuku</string>
	<key>東池袋</key>
	<string>HigashiIkebukuro</string>
	<key>東銀座</key>
	<string>HigashiGinza</string>
	<key>東陽町</key>
	<string>Toyocho</string>
	<key>根津</key>
	<string>CNezu</string>
	<key>桜田門</key>
	<string>Sakuradamon</string>
	<key>水天宮前</key>
	<string>Suitengumae</string>
	<key>氷川台</key>
	<string>Hikawadai</string>
	<key>永田町</key>
	<string>Nagatacho</string>
	<key>江戸川橋</key>
	<string>Edogawabashi</string>
	<key>池袋</key>
	<string>Ikebukuro</string>
	<key>浅草</key>
	<string>Asakusa</string>
	<key>清澄白河</key>
	<string>KiyosumiShirakawa</string>
	<key>渋谷</key>
	<string>Shibuya</string>
	<key>湯島</key>
	<string>CYushima</string>
	<key>溜池山王</key>
	<string>TameikeSanno</string>
	<key>王子</key>
	<string>Oji</string>
	<key>王子神谷</key>
	<string>OjiKamiya</string>
	<key>田原町</key>
	<string>Tawaramachi</string>
	<key>町屋</key>
	<string>CMachiya</string>
	<key>白金台</key>
	<string>Shirokanedai</string>
	<key>白金高輪</key>
	<string>ShirokaneTakanawa</string>
	<key>目黒</key>
	<string>Meguro</string>
	<key>神保町</key>
	<string>Jimbocho</string>
	<key>神楽坂</key>
	<string>Kagurazaka</string>
	<key>神田</key>
	<string>Kanda</string>
	<key>神谷町</key>
	<string>Kamiyacho</string>
	<key>秋葉原</key>
	<string>Akihabara</string>
	<key>稲荷町</key>
	<string>Inaricho</string>
	<key>竹橋</key>
	<string>Takebashi</string>
	<key>築地</key>
	<string>Tsukiji</string>
	<key>綾瀬</key>
	<string>CAyase</string>
	<key>茅場町</key>
	<string>Kayabacho</string>
	<key>落合</key>
	<string>Ochiai</string>
	<key>葛西</key>
	<string>Kasai</string>
	<key>虎ノ門</key>
	<string>Toranomon</string>
	<key>表参道</key>
	<string>OmoteSando</string>
	<key>西日暮里</key>
	<string>CNishiNippori</string>
	<key>西早稲田</key>
	<string>NishiWaseda</string>
	<key>西葛西</key>
	<string>NishiKasai</string>
	<key>要町</key>
	<string>Kanamecho</string>
	<key>護国寺</key>
	<string>Gokokuji</string>
	<key>豊洲</key>
	<string>Toyosu</string>
	<key>赤坂</key>
	<string>CAkasaka</string>
	<key>赤坂見附</key>
	<string>AkasakaMitsuke</string>
	<key>赤羽岩淵</key>
	<string>AkabaneIwabuchi</string>
	<key>辰巳</key>
	<string>Tatsumi</string>
	<key>銀座</key>
	<string>Ginza</string>
	<key>銀座一丁目</key>
	<string>GinzaItchome</string>
	<key>錦糸町</key>
	<string>Kinshicho</string>
	<key>門前仲町</key>
	<string>MonzenNakacho</string>
	<key>雑司が谷</key>
	<string>Zoshigaya</string>
	<key>青山一丁目</key>
	<string>AoyamaItchome</string>
	<key>飯田橋</key>
	<string>Iidabashi</string>
	<key>駒込</key>
	<string>Komagome</string>
	<key>高田馬場</key>
	<string>Takadanobaba</string>
	<key>麻布十番</key>
	<string>AzabuJuban</string>
</dict>
</plist>
